
{{ include('page/layouts/header.html.twig') }}
<div class="row ">
    <div class="col-md-6 mx-auto ">
        {#        mx-auto nahatong anio lasa centre#}
        <h1>Create</h1>
        {{ include('formation/form.html.twig') }}
    </div>

</div>
{{ include('page/layouts/footer.html.twig') }}
